/*----------------------------------
------------DEVELOPED AND DESIGNED BY
---------------------Alessandra Banal
-----------alessandra.banal@gmail.com
-----------------------------------*/
/* typography 
--------------------------------------------------------*/
body{
	font-family: 'Josefin Sans', futura, arial, sans-serif;
	font-size: 18px;
	color:#000;
}
h1,
h2,
h3,
h4,
h5,
h6,
.fact,
ul{
	font-family: 'Timmana', sans-serif;
}
h2 a,
h2 a:hover,
.trans-women,
.ten,
.fact,
.jen{
	color:#ff0000;
}
h2{
	margin:2% 0 0 0;
}
h2 a{
	padding: 0em;
	font-size: .75em;
	letter-spacing: .1em;
}
h2 a:hover{
	text-decoration: none;
	border-top: 1px solid #ff0000;
	padding-right: .1em;
}
h2 a:focus{
	text-decoration: none;
	color:#ff0000;
}
ul li a{
	color: #000;
}
.no{
	font-size: 2.2em;
	line-height: 0em;
}
h1{
	font-size: 2.7em;	
}
h1 a{
	color: #000;
}
h1 a:hover{
	text-decoration: none;
	color: #ff0000;
}
h1 a:focus{
	text-decoration: none;
	color:#000;
}
h6{
	text-align: right;
	font-size: 1.25em;
}
h4{
	text-align: center;
	font-size: 1.3em;
	padding-bottom: 5%;
	border-bottom: 1px solid #000;
}
.ten,
.fact{
	font-size: 2em;
}
.ten{
	line-height: 0;
}
h4:hover .ten{
	font-size: 3em;
}
h4:hover .trans-women{
	font-size: 2em;
	line-height: 1.5em;
}
.fact{
	line-height: 0;
}
.facts p{
	margin-bottom: 16%;
}
h5{
	font-size: 1em;
	text-align: right;
}
h5 a:hover{
	color:blue;
	text-decoration: none;
}
h5 a:focus{
	color:#ff0000;
	text-decoration: none;
}
/* landing page layout 
--------------------------------------------------------*/
.site{
	background-color: #000;
}
#landing-page{
	min-height: 100vh;
}
.container{
	width: 100%;
}
.name{
	display:none;
}
#ten-graphic{
	margin-top: 5vh;
	margin-bottom: 7vh;
	width: 100%;
	stroke: #fff;
	fill:#fff;
	stroke-width:5;
	stroke-miterlimit:10;
}
#white-arrow{
	display:none;
}
.black{
	background-color: #000;
}
h4{
	padding-top: 20%;
	width: 85%;
	margin: 0 auto;
}
#arrow{
	width:20%;
	max-width: 150px;	
}
.arrow-row{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap:wrap;
	    -ms-flex-wrap:wrap;
	        flex-wrap:wrap;
	-webkit-justify-content:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	width: 100%;
	background-color:#fff;
	margin-top: 15%;
}
/* facts layout
--------------------------------------------------------*/
.fact{
	margin-left: 5%;
	}
.facts,
h5{
	margin-top: 100px;
	width: 100%;
	padding: 0 5%;
}
.method{
	opacity:0;
}
/* nav
--------------------------------------------------------*/
.bottom-nav{
	display: none;
}	
.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  display: block;
  overflow: hidden; 
}
.navigation{
	margin-top: 2%;
}
.nav-collapse ul {
  list-style: none;
  display: block;
  margin: 0 auto;
  padding: 0;
  max-width: 60em; 
}
.nav-collapse li {
	background-color: #000;
  	border-bottom: 1px solid #fff;
}
.nav-collapse li a{
	letter-spacing:.1em;
}
.nav-collapse li:hover {
  	background-color: #fff; 
}
.nav-collapse li:hover a{
	color:#000;
}
.nav-collapse li.active {
  background-color: white; 
}
.nav-collapse a {
  display: block;
  padding: 0.5em 6%;
  color: #fff;
  text-decoration: none; 
}
.nav-collapse a:hover, .nav-collapse a:visited {
  color: #fff;
  text-decoration: none; 
}
.nav-collapse a:active {
  color: #1a1a1a;
  text-decoration: none; 
}
@media (min-width: 36em) {
  .nav-collapse a {
      padding: 0.5em 1em; 
  } 
}
.nav-collapse.opened {
  max-height: 9999px; 
}
/**
 * Disable `pointer-events` so that touch taps are processed immediately
 * (otherwise a tap delay is used before the event fires).
 */
.disable-pointer-events {
  pointer-events: none !important; 
}
/* nav toggle */
.nav-toggle {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  -webkit-touch-callout: none; /* 1 */
  float: left;
  width: 32px;
  height: 32px;
  background-image: url("../img/hamburger.png");
  background-size: 32px 32px; 
} 
.nav-toggle:hover{
  border-bottom: 1px solid #fff; 
}
.nav-toggle:active {
  background-color: #000; 
}
/* media queries
--------------------------------------------------------*/
@media screen and (min-width: 519px){
	#ten-graphic{
	margin-top: 3vh;
	margin-bottom: 5vh;
	width: 70%;
	}
	#white-arrow{
	display:inline;
	margin-bottom: 5%;
	margin-left: 5%;
	}
}
@media screen and (min-width: 768px){
	body{
		background-image: url(../img/background.svg);
		background-attachment: fixed;
		background-size: 100vw 100vh;
	}
	#ten-graphic{
	margin-top: 15vh;
	margin-left: 7vh;
	margin-bottom: 0;
	height:50vh;
	stroke: #000;
	fill:#000;
	opacity: 0;
	}
	#white-arrow{
	display:none;
	}
	.name{
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction:column;
		    -ms-flex-direction:column;
		        flex-direction:column;
		-webkit-justify-content:center;
		    -ms-flex-pack:center;
		        justify-content:center;
		width: 100%;
		text-align: center;
		margin-top: -55vh;
		padding-bottom: 0;
		opacity: 0;	
	}
	h6{
		display: none;
	}
	h4{
		padding-top: 0;
		padding-bottom: 2%;
		width: 39%;
		border:none;
		margin-left: 40%;
		opacity:0;
	}
	.arrow-row{
		display: block;	
		margin-top: 0;
		background-color: rgba(255,255,255,0);
	}
	#arrow{
	margin-left: 52%;
	width:5%;
	max-width: 150px;	
	}
	.site,
	.black{
	background-color: rgba(255,255,255,0);
	}

	.facts{
		padding:0 12%;
	}
	.fact{
		margin-left: 0;
	}
	.facts p{
	margin-bottom: 12%;
	}
	h5{
		margin-bottom: 10%;
	}
	/* navs */
	.bottom-nav{
	width: 100%;
	list-style: none;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: fixed;
	bottom: 0;
	font-size: 1.2em;
	letter-spacing: .1em;
	-webkit-justify-content:space-between;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
	margin-left: -2.5%;
	}
	.bottom-nav li a:hover{
		color: #000;
		text-decoration: none;
		border-top: 1px solid #000;
	}
	.bottom-nav li a:focus{
		color: #000;
		text-decoration: none;
	}
	.nav-collapse li,
	.nav-toggle{
		display:none;
	}
	 .js .nav-collapse {
      max-height: none; 
	} 
	@-webkit-keyframes imageAnimation { 
	    0% { opacity: 0;
	    -webkit-animation-timing-function: ease-in; }
	    5% { opacity: 1;
	    -webkit-animation-timing-function: ease-out; }
	    85% { opacity: 1 }
	    100% { opacity: 0 }
	}
	@-webkit-keyframes imageAnimationLong { 
	    0% { opacity: 0;
	    -webkit-animation-timing-function: ease-in; }
	    .01% { opacity: 1;
	    -webkit-animation-timing-function: ease-out; }
	    99.9% { opacity: 1 }
	    100% { opacity: 0 }
	}
	#ten-graphic{
		-webkit-animation: imageAnimation 5s linear 0s;
	    animation: imageAnimation 5s linear 0s; 
	    -webkit-animation-delay: 1s;
	    animation-delay: 1s; 
	}
	h4{
		-webkit-animation: imageAnimation 9s linear 0s;
	    animation: imageAnimation 9s linear 0s; 
	    -webkit-animation-delay: 3s;
	    animation-delay: 3s; 
	}	
	.name{
		-webkit-animation: imageAnimationLong 9999s linear 0s;
	    animation: imageAnimationLong 9999s linear 0s; 
	    -webkit-animation-delay: 7s;
	    animation-delay: 7s; 
	}
	@-webkit-keyframes move{
	0% {
    	-webkit-transform: translateY(-100vh);
    	        transform: translateY(-100vh);
  		}
  	100% {
    	-webkit-transform: translateY(0px);
    	        transform: translateY(0px);
  		}
	}
	@keyframes move{
	0% {
    	-webkit-transform: translateY(-100vh);
    	        transform: translateY(-100vh);
  		}
  	100% {
    	-webkit-transform: translateY(0px);
    	        transform: translateY(0px);
  		}
	}
	#arrow{
		-webkit-animation:move 2s linear;
		animation:move 2s linear;
		-webkit-animation-delay: 11s;
		animation-delay:11s;
	}
}
@media screen and (min-width: 1030px){
	.facts{
		font-size: 1.2em;
		padding:0 20%;
	}
	h5{
		margin-top: 7%;
	}
}
@media screen and (min-width: 1269px){
	#ten-graphic{
		margin-top: 10vh;
		margin-left: 12vh;
		width: 60%;
	}
	h4{
		font-size: 1.5em;
	}
	.bottom-nav{
		margin-left: -1.5%;
	}
}
@media screen and (min-width: 1509px){
	h4{
		font-size: 1.75em;
		margin-top: -10vh;
	}
	.name{
		margin-top: -60vh;
	}
}

